@model IEnumerable<QRbasedFoodOrdering.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders Form</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Table)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Table.TableName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.QRCode)

            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Table.TableId)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Table.TableName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
               
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QRCode)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId" class="btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId" class="btn-danger">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId" class="btn-success">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
