@model IEnumerable<QRbasedFoodOrdering.Models.CartItem>
@{
    ViewData["Title"] = "DisplayCart";
}

<h1>DisplayCart</h1>
<table class="table">
    <thread>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodItem.Title)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.First().FoodItem.imageUrl)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.FoodItem.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Total Amount
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thread>
    <tbody>
        @{
            var overallTotal = 0.0;
        }

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodItem.Title)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.FoodItem.imageUrl)
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.FoodItem.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @{
                        var totalAmount = item.FoodItem.Price * item.Quantity;
                        overallTotal += totalAmount;
                    }
                    @totalAmount.ToString("C2")
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="CartItems" asp-action="DeleteCartItem" asp-route-id="@item.CartItemId">Delete</a>"
                </td>
            </tr>
        }

    </tbody>
</table>
<br />
<br />
<h1>The total amount of order is:@overallTotal.ToString("C2")  </h1>

